@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    line-height: 1.6;
}
#h1{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 50px 0  50px 0;
}

h1 span{
    color: #138065;
    border-bottom:  solid 5px #138065;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 40px;
}

#search-input {


    width: 60%;
    max-width: 300px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    font-size: 18px;
    color: #333;

}

#search-button{
    padding: 10px 20px;
    background-color: #138065;
    color: #fff;
    border: none;
    font-size: 18px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 6px;
    margin-left: 10px;
    transition: background-color 0.2s ease-in-out;
    
}
#search-button:hover{
    padding: 10px 20px;
    background-color: #161e1c;
    color: #fff;
    border: none;
    font-size: 18px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 6px;
    margin-left: 10px;
}

.search-results{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;

}

.search-result{
    margin-bottom: 60px;
    width: 30%;
    height: 100%;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.search-result img{
    width: 500px;
    height: 400px;
    object-fit: cover;
    transition:opacity 0.2s ease-in-out;
}

.search-result:hover img{
    opacity: 0.6;
}
.search-result a{
    font-size: 20px;
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    text-transform: capitalize;
}

#load-more-button{
    background-color: #287b97;
    font-size: 18px;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: 30px auto;
    border-radius: 6px;
    cursor: pointer;
    display: none;

}

@media screen and (max-width : 760px) {

    .search-results{
        padding: 20px;
    }
    .search-result{
        width: 45%;
    }
}
@media screen and (max-width :480px) {
    .search-result{
        width: 100%;
    }
}


/*Footer*/

.footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  .footer-basic .social > a:hover {
    opacity:0.9;
}
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }